{% if page.indicator and page.indicator != 'none' %}
    <title>
        {{ page.t.general.indicator }} {{ page.indicator.indicator_number}} - {{ page.indicator.name | escape }} - {{ site.title | t | escape }}
    </title>
    <meta property="og:title" content="{{ page.t.general.indicator }} {{ page.indicator.indicator_number}} - {{ page.indicator.name | escape }} - {{ site.title | t | escape }}"/>
{% elsif page.goal and page.goal != 'none' %}
    {% if page.goal_heading and page.goal_heading != '' %}
    <title>{{ page.name | t | escape }} - {{ site.title | t | escape }}</title>
    <meta property="og:title" content="{{ page.name | t | escape }} - {{ site.title | t | escape }}"/>
    {% else %}
    <title>{{ page.t.general.goal | escape }} {{ page.goal.number }} - {{ page.goal.short | escape }} - {{ site.title | t | escape }}</title>
    <meta property="og:title" content="{{ page.t.general.goal | escape }} {{ page.goal.number }} - {{ page.goal.short | escape }} - {{ site.title | t | escape }}"/>
    {% endif %}
{% elsif page.title and page.title != '' %}
    {% if page.url == '/' or page.url == '/uk/' or page.url == '/en/' %}
        <title>{{ site.title | t | escape }}</title>
        <meta property="og:title" content="{{ site.title | t | escape }}"/>
    {% else %}
        <title>{{ page.title | t | escape }} - {{ site.title | t | escape }}</title>
        <meta property="og:title" content="{{ page.title | t | escape }} - {{ site.title | t | escape }}"/>
    {% endif %}
{% else %}
    <title>{{ site.title | t | escape }}</title>
    <meta property="og:title" content="{{ site.title | t | escape }}"/>
{% endif %}

<meta property="og:url" content="/"/>
<meta name="description" content="">
<meta property="og:description" content="">
