<div class="browser_container internet-explorer-message">
    <!--  HEADER  -->
    <div class="browser_header">
        <div class="browser_header-version">
            <div class="browser_header-title">Outdated Browser</div>
            <div class="browser_header-text">{{ page.t.general.outdate_browser_hint}}</div>
        </div>
        <div class="browser_header-version-m">
            <div class="browser_header-title">Outdated Browser</div>
            <div class="browser_header-text">{{ page.t.general.outdate_browser_hint_pc}}</div>
        </div>
    </div>
    <section class="browser_list">
        <!-- BROWSER - Chrome -->
        <div class="browser browser-chrome">
            <div class="browser_statistic">
                <div class="browser_statistic-big">67.15%</div>
                <div class="browser_statistic-small">{{ page.t.general.browser_usage }}</div>
            </div>
            <div class="browser-center">
                <div class="browser-logo chrome"></div>
                <div class="browser-name">Google Chrome</div>
                <div class="browser_load">
                    <a href="https://www.google.com/chrome/browser/desktop" target="_blank" class="browser_load-link chrome">{{ page.t.general.download }}</a>
                </div>
            </div>
            <div class="browser_available">
                <div class="browser_available-title">
                    {{ page.t.general.available_for }}
                </div>
                <ul class="browser_os">
                    <li class="browser_os-item windows">
                        <span>Windows</span>
                    </li>
                    <li class="browser_os-item mac">
                        <span>Mac OS</span>
                    </li>
                    <li class="browser_os-item linux">
                        <span>Linux</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- BROWSER - Firefox -->
        <div class="browser browser-firefox">
            <div class="browser_statistic">
                <div class="browser_statistic-big">9.6%</div>
                <div class="browser_statistic-small">{{ page.t.general.browser_usage }}</div>
            </div>
            <div class="browser-center">
                <div class="browser-logo firefox"></div>
                <div class="browser-name">Mozilla Firefox</div>
                <div class="browser_load">
                    <a href="https://www.mozilla.org/firefox/new/" target="_blank" class="browser_load-link firefox">{{ page.t.general.download }}</a>
                </div>
            </div>
            <div class="browser_available">
                <div class="browser_available-title">
                    {{ page.t.general.available_for }}
                </div>
                <ul class="browser_os">
                    <li class="browser_os-item windows">
                        <span>Windows</span>
                    </li>
                    <li class="browser_os-item mac">
                        <span>Mac OS</span>
                    </li>
                    <li class="browser_os-item linux">
                        <span>Linux</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- BROWSER - Internet Explorer -->
        <div class="browser browser-edge">
            <div class="browser_statistic">
                <div class="browser_statistic-big">4.5%</div>
                <div class="browser_statistic-small">{{ page.t.general.browser_usage }}</div>
            </div>
            <div class="browser-center">
                <div class="browser-logo edge"></div>
                <div class="browser-name">Microsoft Edge</div>
                <div class="browser_load">
                    <a href="https://www.microsoft.com/edge" target="_blank" class="browser_load-link edge">{{ page.t.general.download }}</a>
                </div>
            </div>
            <div class="browser_available">
                <div class="browser_available-title">
                    {{ page.t.general.available_for }}
                </div>
                <ul class="browser_os">
                    <li class="browser_os-item windows">
                        <span>Windows</span>
                    </li>
                    <li class="browser_os-item mac">
                        <span>Mac OS</span>
                    </li>
                </ul>
            </div>
        </div>
        {#
        <!-- BROWSER - Safari -->
        <div class="browser browser-safari">
            <div class="browser_statistic">
                <div class="browser_statistic-big">6.5%</div>
                <div class="browser_statistic-small">{{ page.t.general.browser_usage }}</div>
            </div>
            <div class="browser-center">
                <div class="browser-logo safari"></div>
                <div class="browser-name">Apple Safari</div>
                <div class="browser_load">
                    <a href="https://www.apple.com/macos/how-to-upgrade/" target="_blank" class="browser_load-link safari">{{ page.t.general.download }}</a>
                    <div class="browser_load-info">{{ page.t.general.available_only_mac }}</div>
                </div>
            </div>
            <div class="browser_available">
                <div class="browser_available-title">
                    {{ page.t.general.available_for }}
                </div>
                <ul class="browser_os">
                    <li class="browser_os-item mac">
                        <span>Mac OS</span>
                    </li>
                </ul>
            </div>
        </div>
        #}
        <!-- BROWSER - Opera -->
        <div class="browser browser-opera">
            <div class="browser_statistic">
                <div class="browser_statistic-big">3.15%</div>
                <div class="browser_statistic-small">{{ page.t.general.browser_usage }}</div>
            </div>
            <div class="browser-center">
                <div class="browser-logo opera"></div>
                <div class="browser-name">Opera</div>
                <div class="browser_load">
                    <a href="https://www.opera.com/computer" target="_blank" class="browser_load-link opera">{{ page.t.general.download }}</a>
                </div>
            </div>
            <div class="browser_available">
                <div class="browser_available-title">
                    {{ page.t.general.available_for }}
                </div>
                <ul class="browser_os">
                    <li class="browser_os-item windows">
                        <span>Windows</span>
                    </li>
                    <li class="browser_os-item mac">
                        <span>Mac OS</span>
                    </li>
                    <li class="browser_os-item linux">
                        <span>Linux</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<script>
    (function() {
        var IE10 = ( window.navigator.userAgent.indexOf('MSIE') > -1 ? true : false );
        var IE11 = ( window.navigator.userAgent.indexOf("Trident") > -1 ? true : false );
        if ( IE10 || IE11 ) {
            var items = document.querySelectorAll('.browser');
            if (items.length) {
                for (var i = 0; i < items.length; i++) {
                    items[i].addEventListener('mouseenter', function(e) {
                        var target = e.target;
                        target.className.indexOf('browser-expanded') > -1 ? '' : target.classList.add('browser-expanded');
                    });
                    items[i].addEventListener('mouseleave', function(e) {
                        var target = e.target;
                        target.className.indexOf('browser-expanded') > -1 ? target.classList.remove('browser-expanded') : '';
                    });
                }
            }
        }
    })();
</script>
