.layout-goals {
    #main-content {
        .goal-tiles {
            .goal-tile {
                a, span {
                    width: 100%;
                    margin-bottom: 0px;
                }
            }
            .global-goals-extra-icon {
                img {
                    box-shadow: none;
                }
            }
        }
    }
    .goals-page-description {
        p {
          font-size: 18px !important;
          line-height: 27px !important;
          margin-bottom: 48px;
        }
    }
    .goal-tiles {
        padding-bottom: 64px;
    }
}

body.contrast-high.layout-goals {
    #main-content {
        .goal-tiles {
            .global-goals-extra-icon {
                img {
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
