{% include head.html %}
{% include header.html %}
<div class="container">
    {% include components/page/breadcrumbs.html %}
</div>
<div id="main-content" class="container" role="main">

    {% include components/goals-introduction.html %}

    <div class="goal-tiles">
        <div class="row g-2">
            {% for goal in page.goals %}
            <div class="col-4 col-md-2 goal-tile">
                {% assign hover_icon = goal.icon | replace: '.svg', '_hover.svg' %}

                <a href="{{ goal.url }}">
                    <img src="{{ goal.icon }}" data-default="{{ goal.icon }}" data-hover="{{ hover_icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            {% endfor %}
            {% comment %}
            If there were exactly 17 goals, "pad" it with 1 more, to make it come
            out more symmetrically.
            {% endcomment %}
            {% if page.goals.size == 17 %}
            <div class="col-4 col-md-2 goal-tile global-goals-extra-icon">
                <span>
                    <img src="{{ site.goal_image_base }}/{{ page.language }}/18.svg" id="goal-18" alt="{{ page.t.goal.last_goal }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}
