{% include head.html %}
<div class="tech-work">
    <div class="tech-work-content">
        <img class="tech-work-image" src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="Sustainable Development Goals logo" />
        <div id="main-content" class="container" role="main">
            <div class="tech-work-page-status">404</div>
            <h1 class="tech-work-title" id="404-title">{{ page.t.page_not_found.title }}</h1>
            <div class="tech-work-description" id="404-desc">
                {{ page.t.page_not_found.description }}
            </div>
            <a href="{{ '/' | relative_url }}" class="btn btn-primary btn-download" id="404-btn">{{ page.t.page_not_found.toMainPage }}</a>
        </div>
    </div>
</div>
<script>
  let isUk = window.location.pathname.indexOf('/uk/') !== -1;

  if (isUk) {
    const titleTag = document.querySelector('title');
    const ogTitle = document.querySelector('meta[property="og:title"]');
    const [_, siteName] = titleTag.innerText.split(' - ');
    const newTitle = `Сторінку на знайдено - ${siteName}`;

    titleTag.innerHTML = newTitle;
    ogTitle.setAttribute('content', newTitle);

    document.getElementById('404-title').innerText = "Такої сторінки не існує";
    document.getElementById('404-desc').innerText = "Сторінку не знайдено. Можливо, вона переїхала або в посиланні є помилка. Будь ласка, перевірте адресу.";
    document.getElementById('404-btn').innerText = "На головну";
    document.getElementById('404-btn').href = "{{ site.baseurl }}/uk/";
  }
</script>
{% include scripts.html %}
</body>
</html>
