<div class="heading goal-banner indicator goal-{{ page.goal.number }}">
    <div class="container">
        <div class="row">
            {% unless page.indicator.standalone %}
            <div class="col-4 col-md-3 col-lg-1 goal-icon goal-tiles">
                <a href="{{ page.goal.url }}" aria-label="{{ page.t.goal.indicators_for_goal }} {{ page.goal.number }}" title="{{ page.t.goal.indicators_for_goal }} {{ page.goal.number }}">
                    <img src="{{ page.goal.icon }}"
                        alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}"
                        id="goal-{{ page.goal.number }}"
                        class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            <div class="col-8 col-md-9 col-lg-10 indicator-details">
            {% else %}
            <div class="col-12 indicator-details">
            {% endunless %}
                <div>
                    <h1 class="goal-banner-title d-flex align-items-center">
                        {% unless page.indicator.standalone %}
                        {{ page.t.general.indicator }} {{ page.indicator.number | replace: ".a", "" }}
                        {% endunless %}

                        {% if page.indicator.number contains '.a' %}
                        <span class="badge-edition badge-archive mx-3">
                            {{ page.t.general.badge_previous | default: 'Попередня редакція' }}
                        </span>
                        {% else %}
                        <span class="badge-edition badge-current mx-3">
                            {{ page.t.general.badge_current | default: 'Чинна редакція' }}
                        </span>
                        {% endif %}
                    </h1>
                    <span class="lead-copy">{{ page.indicator.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
